li{
    list-style: none;
}


body {
    background-image: url("https://miro.medium.com/max/3000/1*2bysml8-CozBhrBY6KzBHA.jpeg");
}

a{
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large; 
}

.icon{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: orange;
}

.parrafoUno{
    font-size: 50px;
    color: #ffffff;
}